/* html{height:100%; width:100%;}

body{
  height:100%;
  width:100%;
  background-image: -webkit-gradient(
    linear,
	  80 bottom,
	  left 60,
	  color-stop(0, rgb(91,135,115)),
	  color-stop(0.57, rgb(66,110,110)));
  font-family:'lato';
  animation:bgfade 7s;
  -webkit-animation:bgfade 7s; /* Safari and Chrome */
  /* font-family: 'Open Sans', sans-serif;
}

.desc
{
  text-align: center;
  font-weight: normal;
  width: 100%;
  margin: 0px;
  visibility:hidden;
}

div:hover .desc {
  visibility:visible;
}
div.img img {max-width:100%;}
div.img{
  margin: 155px 5px 0px 0px;
  padding:5px;
  box-sizing:border-box;
  background:#f1f1f1;
  line-height:0px;
  height: auto;
  width: 20%;
  float: left;
  text-align: center;
  -webkit-transition:all 0.5s ease;
  -moz-transition:all 0.5s ease; 
  -o-transition:all 0.5s ease; 
  transition:all 0.5s ease;
  border-radius:4px;
}	
div:hover{line-height:30px;font-size:16px;}
div.img img
{
  display: inline-block;
  margin: 3px;
}

@keyframes bgfade
{
0%   {opacity:0;}
100% {opacity:1;}
}

@-webkit-keyframes bgfade /* Safari and Chrome */
/* {
0%   {opacity:0;}
100% {opacity:1;}
} */ 

.image-board{
     width: 300px;
     height: 300px;
}
#container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 1600px;
  margin-left: 50px;
  margin-right: 50px;
} 
header {
  display: flex;
  justify-content: center;
  height: 100px;
}
button{
  width: 300px;
  height: 100px;
}
body{
  background: url('back.jpg') 10px 10px  repeat;
  background-size: contain;
  
}
 #container div {
  margin-left: 10px; }
 

.workWithMe{
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 30px;
}