@font-face{

    font-family: 'MyWebFont';
    
    src: url('red-october.fat.ttf') format("truetype"); 
    
        
    font-weight: normal;
    
    font-style: normal;
    
    }

*{
    font-family: "MyWebFont";
}
#center {
    display: flex;
    
   width: 100%;
   justify-content: center;
    
}
.text-center {
    font-size: 38px;
  
}
.makeRed {
    height: 20px;
    width:1000px;
}
#low {
    color: black;
}
.list-inline .list-inline-item a {
    color: rgb(240, 240, 240);
    font-size: 26px;
    

    align-self: center;
}
.list-inline .list-inline-item {
    display: flex;
    align-items: center;
    justify-content: center;
}
.list-inline {
    width: 100%;
    
}